<% if flash [:notice] %>
  <p> <%= flash[:notice] = "Successfully created..." %>  </p>
<% end %>

<h1> Listando Clientes </h1>

<table>
  <thead>
    <tr>
      <td>Nome</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td> <%= customer.name %> </td>
      <td> Mostrar </td>
      <td> Editar  </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Novo Cliente", new_customer_path %>
